#title {
    text-align: center;
    margin: 50px 0px 20px 0px;
  }
  #instruction
  {
    padding-left: 60%;
    padding-right: 350px;
  }
  
  
  #input-reserve {
    /* width: 80%; */
    text-align: left;  
    /* margin-left: 10%; */
    padding-right: 40%;
    padding-left: 40%;
  }
  
  #reserve-list {
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }

  #input-reserve > #bag, #movie, #meal, #flightID,#name,#phone,#email,#age 
{
  border: solid 2px skyblue;
  padding: 10px;
}

#input-reserve > .bagQuantity
{
  text-align: left;
  margin-right : 100%;
  size: 70%;
  color: red;
}
