body {
  background-image: url("pic/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* color: wheat; */
}

#modify {
  margin: 2em auto;
  padding: 1em;
  width: 30%;
  color: #606060;
  border: 2px solid #a3703e;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin-left: 34%;
  background-color: #e9b7b7;
}

#title {
  text-align: center;
  margin: 50px 0px 20px 0px;
  background-color: #db9b9b;
}

#instruction {
  padding-left: 60%;
  padding-right: 350px;
  font-weight: bold;
}

#input-reserve,
#addmem,
.input-group-append {
  /* width: 80%; */
  text-align: left;
  /* margin-left: 10%; */
  padding-right: 40%;
  padding-left: 40%;
}
#addmem {
  padding-left: 3px;
  padding-right: 3px;
  text-align: right;
  margin-left: 40%;
  color: black;
  border: solid 2px blue;
}

#reserve-list {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  font-size: 15px;
}
#boarding-info {
  text-align: center;
  font-size: 15px;
}
#bref {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#input-reserve > 
#flightID_0,
#card_no,
#name_0,
#phone_0,
#email_0,
#age_0 {
  border: solid 2px skyblue;
  padding: 10px;
}
#input-reserve > #after_flight{
  padding-bottom: 10%;
  padding-top: 10%;

}
#input-reserve > #bag, #movie, #meal, #f_plan > #flightPlan{
  border: solid 2px skyblue;
  padding: 10px;
  background-color: rgb(94, 255, 234);
}
#input-reserve > #btm {
  padding-bottom: 10%;
}
